*.json
*.json
*.local
*.ilc
*.ild
*.ilf
*.ils
*.obj
*.tds
*.map
*.pdi
*.pch
/TCPClient/__astcache
/TCPClient/__history
/TCPClient/__recovery

/TCPServer/__astcache
/TCPServer/__history
/TCPServer/__recovery

/TCPServerTest/__astcache
/TCPServerTest/__history
/TCPServerTest/__recovery